milan = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/milan"
    content_version = 1
}
rome = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/rome"
    content_version = 1
}
terratowns_endpoint = "https://terratowns.cloud/api"