user_uuid = "c4b4de80-f521-467a-a306-4de5aaf98d55"
bucket_name = "yf5dxga0mkxtj029iuwa9nseaiaulxqu"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version = 1
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets/"
